<!DOCTYPE html>
<html>
  <head>
    <title>ENJOY NEW LIFE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    </style>

  </head>

  <body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="fa fa-eject" aria-hidden="true"></i>
      <p>Top</p>
    </button>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <!--%= render "common/flashes" %-->
        <%= yield %>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
         <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, required: false, autofocus: true %>
           <%= f.input :password, required: false %>
           <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "Log in" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <span><%= f.input :is_admin, label: "Employer" %></span
        </div>
        <div>By creating an account you agree to our <a href="/">Terms & Privacy</a>.</div>
        <br />
        <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
