<div class="col-md-12">

  <div class="group">
      <%= link_to("New User", new_user_registration_path, class: "btn btn-primary pull-right") %>
  </div>


  <h2 class="text-center">Admin Controller</h2>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>User</ht>
        <th>Jurisdiction</th>
        <th>Created Time</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>#</td>
          <td><%= user.email %></td>
          <td><%= user.is_admin %></td>
          <td><%= user.created_at %></td>
          <td>

               <%= link_to("Add Power", class: "btn btn-sm btn-default") %> |
               <%= link_to("Account Destroy", account_path(user), class: "btn btn-sm btn-default") %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
